<?xml version="1.0" encoding="UTF-8"?><project>
    <actions/>
    <description>This job builds Java Spring reference application</description>
    <keepDependencies>false</keepDependencies>
    <properties>
        <EnvInjectJobProperty>
            <info>
                <propertiesContent>WORKSPACE_NAME=ExampleWorkspace
PROJECT_NAME=ExampleWorkspace/ExampleProject</propertiesContent>
                <loadFilesFromMaster>false</loadFilesFromMaster>
            </info>
            <on>true</on>
            <keepJenkinsSystemVariables>true</keepJenkinsSystemVariables>
            <keepBuildVariables>true</keepBuildVariables>
            <overrideBuildParameters>false</overrideBuildParameters>
            <contributors/>
        </EnvInjectJobProperty>
    </properties>
    <canRoam>false</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers class="vector">
        <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.GerritTrigger>
            <spec/>
            <gerritProjects>
                <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.GerritProject>
                    <compareType>PLAIN</compareType>
                    <pattern>ExampleWorkspace/ExampleProject/spring-petclinic</pattern>
                    <branches>
                        <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.Branch>
                            <compareType>PLAIN</compareType>
                            <pattern>plain:master</pattern>
                        </com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.Branch>
                    </branches>
                </com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.GerritProject>
            </gerritProjects>
            <silentMode>false</silentMode>
            <escapeQuotes>true</escapeQuotes>
            <buildStartMessage/>
            <buildFailureMessage/>
            <buildSuccessfulMessage/>
            <buildUnstableMessage/>
            <buildNotBuiltMessage/>
            <buildUnsuccessfulFilepath/>
            <customUrl/>
            <triggerOnEvents>
                <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.events.PluginRefUpdatedEvent/>
            </triggerOnEvents>
            <dynamicTriggerConfiguration>false</dynamicTriggerConfiguration>
            <triggerConfigURL/>
            <triggerInformationAction/>
            <serverName>ADOP Gerrit</serverName>
        </com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.GerritTrigger>
    </triggers>
    <concurrentBuild>false</concurrentBuild>
    <builders>
        <hudson.tasks.Maven>
            <targets>clean install -DskipTests</targets>
            <mavenName>ADOP Maven</mavenName>
            <jvmOptions/>
            <usePrivateRepository>false</usePrivateRepository>
        </hudson.tasks.Maven>
    </builders>
    <publishers>
        <hudson.tasks.ArtifactArchiver>
            <artifacts>**/*</artifacts>
            <allowEmptyArchive>false</allowEmptyArchive>
            <defaultExcludes>true</defaultExcludes>
            <fingerprint>false</fingerprint>
            <onlyIfSuccessful>false</onlyIfSuccessful>
        </hudson.tasks.ArtifactArchiver>
        <hudson.plugins.parameterizedtrigger.BuildTrigger>
            <configs>
                <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
                    <projects>ExampleWorkspace/ExampleProject/Reference_Application_Unit_Tests</projects>
                    <condition>UNSTABLE_OR_BETTER</condition>
                    <triggerWithNoParameters>false</triggerWithNoParameters>
                    <configs>
                        <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
                            <properties>B=${BUILD_NUMBER}
PARENT_BUILD=${JOB_NAME}</properties>
                        </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
                    </configs>
                </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
            </configs>
        </hudson.plugins.parameterizedtrigger.BuildTrigger>
    </publishers>
    <buildWrappers>
        <hudson.plugins.ws__cleanup.PreBuildCleanup>
            <patterns/>
            <deleteDirs>false</deleteDirs>
            <cleanupParameter/>
            <externalDelete/>
        </hudson.plugins.ws__cleanup.PreBuildCleanup>
        <EnvInjectPasswordWrapper>
            <injectGlobalPasswords>true</injectGlobalPasswords>
            <passwordEntries/>
        </EnvInjectPasswordWrapper>
        <com.michelin.cio.hudson.plugins.maskpasswords.MaskPasswordsBuildWrapper/>
        <com.cloudbees.jenkins.plugins.sshagent.SSHAgentBuildWrapper>
            <user>adop-jenkins-master</user>
        </com.cloudbees.jenkins.plugins.sshagent.SSHAgentBuildWrapper>
    </buildWrappers>
    <scm class="hudson.plugins.git.GitSCM">
        <userRemoteConfigs>
            <hudson.plugins.git.UserRemoteConfig>
                <url>ssh://jenkins@gerrit:29418/ExampleWorkspace/ExampleProject/spring-petclinic</url>
                <credentialsId>adop-jenkins-master</credentialsId>
            </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
            <hudson.plugins.git.BranchSpec>
                <name>*/master</name>
            </hudson.plugins.git.BranchSpec>
        </branches>
        <configVersion>2</configVersion>
        <disableSubmodules>false</disableSubmodules>
        <recursiveSubmodules>false</recursiveSubmodules>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <authorOrCommitter>false</authorOrCommitter>
        <clean>false</clean>
        <wipeOutWorkspace>false</wipeOutWorkspace>
        <pruneBranches>false</pruneBranches>
        <remotePoll>false</remotePoll>
        <ignoreNotifyCommit>false</ignoreNotifyCommit>
        <gitTool>Default</gitTool>
        <skipTag>true</skipTag>
    </scm>
    <assignedNode>java8</assignedNode>
</project>