<?xml version="1.0" encoding="UTF-8"?><flow-definition>
    <actions/>
    <description>This job is responsible for executing all required jobs under the Platform_Management folder to setup your platform</description>
    <keepDependencies>false</keepDependencies>
    <properties>
        <com.sonyericsson.rebuild.RebuildSettings>
            <autoRebuild>false</autoRebuild>
            <rebuildDisabled>false</rebuildDisabled>
        </com.sonyericsson.rebuild.RebuildSettings>
    </properties>
    <triggers/>
    <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition">
        <script>// Load the list of default cartridges
build job: 'Platform_Management/Load_Cartridge_List'

// Setup the Gerrit ACL
build job: 'Platform_Management/Setup_Gerrit'

// Setup the Pluggable Library
build job: 'Platform_Management/Setup_Pluggable_Library'

// Setup the Custom_Cartridge Library
build job: 'Platform_Management/Setup_Custom_Cartridge_Library'
</script>
        <sandbox>true</sandbox>
    </definition>
</flow-definition>