<?xml version="1.0" encoding="UTF-8"?><project>
    <actions/>
    <description>This job runs code quality analysis for Java reference application using SonarQube.</description>
    <keepDependencies>false</keepDependencies>
    <properties>
        <hudson.model.ParametersDefinitionProperty>
            <parameterDefinitions>
                <hudson.model.StringParameterDefinition>
                    <name>B</name>
                    <defaultValue/>
                    <description>Parent build number</description>
                </hudson.model.StringParameterDefinition>
                <hudson.model.StringParameterDefinition>
                    <name>PARENT_BUILD</name>
                    <defaultValue>Reference_Application_Build</defaultValue>
                    <description>Parent build name</description>
                </hudson.model.StringParameterDefinition>
                <hudson.model.StringParameterDefinition>
                    <name>UTB</name>
                    <defaultValue/>
                    <description>Unit Tests job build number</description>
                </hudson.model.StringParameterDefinition>
            </parameterDefinitions>
        </hudson.model.ParametersDefinitionProperty>
        <EnvInjectJobProperty>
            <info>
                <propertiesContent>WORKSPACE_NAME=ExampleWorkspace
PROJECT_NAME=ExampleWorkspace/ExampleProject
PROJECT_NAME_KEY=exampleworkspace-exampleproject</propertiesContent>
                <loadFilesFromMaster>false</loadFilesFromMaster>
            </info>
            <on>true</on>
            <keepJenkinsSystemVariables>true</keepJenkinsSystemVariables>
            <keepBuildVariables>true</keepBuildVariables>
            <overrideBuildParameters>false</overrideBuildParameters>
            <contributors/>
        </EnvInjectJobProperty>
    </properties>
    <scm class="hudson.scm.NullSCM"/>
    <canRoam>false</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers class="vector"/>
    <concurrentBuild>false</concurrentBuild>
    <builders>
        <hudson.plugins.copyartifact.CopyArtifact>
            <project>Reference_Application_Unit_Tests</project>
            <filter/>
            <target/>
            <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
            <selector class="hudson.plugins.copyartifact.SpecificBuildSelector">
                <buildNumber>${UTB}</buildNumber>
            </selector>
        </hudson.plugins.copyartifact.CopyArtifact>
        <hudson.plugins.sonar.SonarRunnerBuilder plugin="sonar@2.2.1">
            <project>sonar-project.properties</project>
            <properties>sonar.projectKey=${PROJECT_NAME_KEY}
sonar.projectName=${PROJECT_NAME}
sonar.projectVersion=1.0.${B}
sonar.sources=src/main/java
sonar.language=java
sonar.sourceEncoding=UTF-8
sonar.scm.enabled=false</properties>
            <javaOpts/>
            <jdk>(Inherit From Job)</jdk>
            <task/>
        </hudson.plugins.sonar.SonarRunnerBuilder>
    </builders>
    <publishers>
        <hudson.plugins.parameterizedtrigger.BuildTrigger>
            <configs>
                <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
                    <projects>ExampleWorkspace/ExampleProject/Reference_Application_Deploy</projects>
                    <condition>UNSTABLE_OR_BETTER</condition>
                    <triggerWithNoParameters>false</triggerWithNoParameters>
                    <configs>
                        <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
                            <properties>B=${B}
PARENT_BUILD=${PARENT_BUILD}</properties>
                        </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
                    </configs>
                </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
            </configs>
        </hudson.plugins.parameterizedtrigger.BuildTrigger>
    </publishers>
    <buildWrappers>
        <hudson.plugins.ws__cleanup.PreBuildCleanup>
            <patterns/>
            <deleteDirs>false</deleteDirs>
            <cleanupParameter/>
            <externalDelete/>
        </hudson.plugins.ws__cleanup.PreBuildCleanup>
        <EnvInjectPasswordWrapper>
            <injectGlobalPasswords>true</injectGlobalPasswords>
            <passwordEntries/>
        </EnvInjectPasswordWrapper>
        <com.michelin.cio.hudson.plugins.maskpasswords.MaskPasswordsBuildWrapper/>
        <com.cloudbees.jenkins.plugins.sshagent.SSHAgentBuildWrapper>
            <user>adop-jenkins-master</user>
        </com.cloudbees.jenkins.plugins.sshagent.SSHAgentBuildWrapper>
    </buildWrappers>
    <assignedNode>java8</assignedNode>
</project>