[gerrit]
	basePath = /var/git/repos
	canonicalWebUrl = http://13.126.65.32/gerrit/
[database]
	type = mysql
	database = gerrit
	hostname = gerrit-mysql
	port = 3306
	username = gerrit
[index]
	type = LUCENE
[auth]
	type = LDAP
	logoutUrl = http://13.126.65.32/gerrit/
	gitBasicAuth = true
[sendemail]
	smtpServer = localhost
	enable = false
[container]
	user = root
	javaHome = /usr/lib/jvm/java-7-openjdk-amd64/jre
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = proxy-http://0.0.0.0:8080/gerrit
[cache]
	directory = cache
[ldap]
	server = ldap://ldap:389
	username = cn=admin,dc=ldap,dc=example,dc=com
	password = bd9d3a2aa16d7292
	accountBase = dc=ldap,dc=example,dc=com
	accountPattern = (cn=${username})
	accountFullName = ${cn}
	accountEmailAddress = mail
	groupBase = ou=groups,dc=ldap,dc=example,dc=com
	groupPattern = (cn=${groupname})
	groupMemberPattern = (uniqueMember=${dn})
[plugins]
	allowRemoteAdmin = true
[user]
	name = Gerrit Code Review
	email = gerrit@adop
[download]
	scheme = http
